<h1 class="fs-4">Nova categoria:</h1>
<section class="card">
    <div class="card-body">
        <form action="/admin/categories/new" method="post">
            <label for="name">Nome: </label>
            <input type="text" id="name" name="name" minlength="2" maxlength="50" placeholder="Nome da categoria" class="form-control" required>
            <label for="slug">Slug: </label>
            <input type="text" id="slug" name="slug" minlength="2" maxlength="45" placeholder="Slug da categoria" class="form-control" required> 
            <br>
            <button type="submit" class="btn btn-success">Criar categoria</button>
        </form>
        <a href="./"><button class="btn btn-secondary mt-2">Cancelar</button></a>
    </div>
</section>