<div class="card">
    <div class="card-body">
        <h1>{{postagem.title}}</h1>
        <hr>
        <small>Data de publicação: {{#formatDate postagem.date}}{{/formatDate}}</small><br>
        <hr>
        <p style="white-space: pre-wrap;">{{postagem.content}}</p>
    </div>
</div>